@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

/* Visually Hidden Items */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Page buttons */
.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  color: #2d3440;
  background-color: #ffcbd8;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 4px solid rgba(252, 252, 252, 1);
}

.button:focus {
  background-color: rgba(252, 252, 252, 1);
  border: 4px solid rgba(45, 52, 64, 1);
}

.button:active {
  background-color: rgba(252, 252, 252, 1);
  border: 4px solid rgba(252, 252, 252, 0);
}

.button:disabled {
  background-color: rgba(231, 231, 231, 1);
  border-color: rgba(252, 252, 252, 0, 4);
}

.header-button {
  padding: 4px 15px 4px 40px;
  min-width: 32px;
  min-height: 32px;
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0);
}

.search-button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.slider-item-button {
  padding: 12px 32px;
  width: 76px;
  background-color: #fcfcfc;
  color: #2d3440;
  margin-left: -4px;
}

/* Main slider button*/
.slider-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}

.slider-button:hover {
  background-color: #fcfcfc;
  border: none;
}

.slider-button:focus {
  border: 2px solid #2d3440;
}

.slider-button:active {
  border: 2px solid #ff2f64;
}

.slider-button:disabled {
  border: rgba(252, 252, 252, 0, 3);
}

/* Slider pagination bullets*/
.slider-bullets-item-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
}

/* Want gift card button*/
.want-gift-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fcfcfc;
  color: #2d3440;
  box-shadow: 0px 0px 0px 4px rgba(231, 231, 231, 0.4);
  border: none;
}

.want-gift-button:hover {
  background-color: rgba(252, 252, 252, 0, 4);
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 1);
  border: none;
}

.want-gift-button:focus {
  background-color: rgba(252, 252, 252, 1);
  color: #2d3440;
  box-shadow: 0px 0px 0px 2px #2d3440;
  border: none;
}

.want-gift-button:active {
  background-color: rgba(252, 252, 252, 1);
  color: #2d3440;
  box-shadow: 0px 0px 0px 4px #2d3440;
  border: none;
}

/* Add to shopping cart button */
.add-to-basket {
  position: relative;
  height: 32px;
  width: 32px;
  background-color: #ff2f64;
  border: none;
  border-radius: 26px;
  margin-left: auto;
  cursor: pointer;
}

.add-to-basket:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.add-to-basket:focus {
  background: #ff2f64;
  border: 2px solid #2d3440;
}

.add-to-basket:active {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.add-to-basket:disabled {
  background: #b9b9b9;
}

/* Send-button */
.send-button {
  margin: 0;
  color: white;
  background: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  border: none;
}

.send-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  box-shadow: 0 0 0 4px #ff2f64;
  border: none;
}

.send-button:focus {
  background-color: #ff2f64;
  color: rgba(252, 252, 252, 1);
  box-shadow: 0px 0px 0px 2px #2d3440;
  border: none;
}

.send-button:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 0px 0px 2px #2d3440;
  color: #2d3440;
  border: 0;
}

.send-button:disabled {
  font-weight: 400;
  background-color: #b9b9b9;
  color: #565c66;
  box-shadow: 0px 0px 0px 4px #b9b9b94d;
  border: 0;
}

.delivery-send-button {
  display: flex;
  margin: 0 auto;
}

.news-form-send-button {
  margin: 0 auto;
}

.auth-form-button {
  display: flex;
  margin-left: auto;
}

/* feedback form button*/
.feedback-form-button {
  background-color: #ff2f64;
  color: white;
}

/* Buttons second page */
.navigation-link-current.navigation-link {
  background-color: #ff2f64;
  color: white;
}

/*Filter accept button*/
.filter-accept-button {
  font-family: inter;
  font-size: 14px;
  width: 190px;
  margin-left: auto;
  padding: 8px 48px;
  font-family: inter;
  background-color: #ffcbd8;
  color: #2d3440;
  box-shadow: 0 0 0 2px #fcfcfc;
  border: none;
}

.filter-accept-button:hover {
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border: none;
}

.filter-accept-button:active {
  background: #ffffff;
  box-shadow: 0 0 0 2px #ff2f64;
  border: none;
}

.filter-accept-button:focus {
  box-shadow: 0 0 0 2px #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border: none;
}

.filter-accept-button:disabled {
  opacity: 0.4;
}

/*Show more button*/
.show-more-button {
  margin-left: auto;
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fcfcfc;
  color: #2d3440;
}

/* Pages */
.page-header {
  color: #2d3440;
}

/* NAV links*/
.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.navigation-logo {
  display: flex;
  margin-top: 24px;
  margin-bottom: 15px;
  margin-right: 16px;
  width: 137px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


.navigation-user .navigation-item {
  margin-right: 14px;
}

.navigation-user .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  margin-left: auto;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 6px 14px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  border: 2px solid rgba(252, 252, 252, 0);
  border-radius: 26px;
}

.navigation-link:last-child {
  margin-right: 0;
}

.header-button:hover,
.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0);
}

.header-button:focus,
.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.header-button:active,
.navigation-link:active {
  background-color: rgba(252, 252, 252, 1);
}

.contacts-phone {
  margin-right: 6px;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 158px;
  color: #2d3440;
}

/* NAV icons*/
.search-button {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.navigation-user .signin-button {
  background-image: url("../images/icons/log-in.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  background-size: 18px;
}

.cart-button {
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  background-size: 18px;
}

.cart-button-filled {
  background-image: url("../images/icons/cart-filled.svg");
}

.navigation-item {
  position: relative;
  margin-top: 10px;
}

/* Main */
.main-container {
  margin-top: 29px;
  margin-bottom: 48px;
  flex-grow: 1;
}



.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Slider */
.slider {
  display: flex;
  position: relative;
}

.slider-item {
  display: flex;
  align-items: center;
  position: relative;
  order: 2;
  margin-right: 78px;
}

.slider-item:not(.active) {
  margin-top: 10px;
  opacity: 0.4;
}

.slider-item.active {
  order: 1;
}

.slider-item-img-container {
  position: relative;
}

.slider-item-img-container::after {
  content: "";
  position: absolute;
  background: #ffcbd8;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px / 2);
  top: calc(50% - 100px / 2);
  border-radius: 50%;
  z-index: -1;
}

.active .slider-item-img-container::after {
  content: "";
  height: 312px;
  width: 312px;
  top: 100px;
  left: 0;
}

.slider-item-img-container img {
  object-fit: cover;
}

.active .slider-item-img-container {
  opacity: 1;
  width: 306px;
}

.slider-text-container {
  display: none;
  flex-direction: column;
  width: 470px;
  margin-left: 70px;
  margin-right: 21px;
}

.slider-item-title {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 26px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
}

.active .slider-text-container {
  display: flex;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 44px;
  width: 417px;
}

.slider-main-buttons {
  position: absolute;
  left: 542px;
  top: 238px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
}

/* Slider icons */
.main-slider-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
}

.slider-button:hover .main-slider-icon {
  fill: #2d3440;
}

.slider-button:focus .main-slider-icon {
  fill: #2d3440;
}

.slider-button:active .main-slider-icon {
  fill: #2d3440;
}

.slider-button:disabled .main-slider-icon {
  fill: rgba(252, 252, 252, 1);
}

/* Slider Footer */
.slider-footer {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Slider Pagination bullets */
.slider-bullets {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 52px;
  height: 12px;
  padding-top: 10px;
}

.slider-bullets-item:not(:last-child) {
  margin-right: 8px;
}

.slider-bullets-item-button.active {
  background-color: rgba(252, 252, 252, 1);
}

.slider-bullets-item-button:hover {
  border: 1px solid #fcfcfc;
}

.slider-bullets-item-button:focus {
  border: 1px solid #2d3440;
}

.slider-bullets-item-button:active {
  border: 1px solid #fcfcfc;
  background-color: #ff2f64;
}

/* Social */
.socials {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 110px;
}

.socials-item:not(:last-child) {
  margin-right: 18px;
}

.socials-link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 0 3px rgba(252, 252, 252, 0.2);
  border-radius: 100px;
}

.socials-link:hover {
  background-color: #2d3440;
}

.socials-link:focus {
  background-color: #2d3440;
  box-shadow: 0 0 0 3px rgba(45, 52, 64, 1);
}

.socials-link:active {
  background-color: #ff2f64;
}

/* Social icons */
.socials-icon {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 25px;
  height: 25px;
  fill: #fcfcfc;
  border-radius: 50%;
}

/* Part title */
.part-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 56px;
  text-align: center;
}

/* Gift cards*/
.banners {
  display: flex;
}

.action-banner {
  display: flex;
  flex-direction: row;
  width: 570px;
  background-color: #ff7799;
  border-radius: 16px;
}

.banner-text-container {
  padding-left: 40px;
}

.action-banner:first-child {
  margin-right: 30px;
}

.banner-subtitle {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subtitle-description {
  margin: 0;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.first-banner-description {
  max-width: 321px;
}

.second-banner-description {
  max-width: 294px;
}

.banner-image-first {
  margin: 0;
  padding-left: 13px;
  padding-top: 28px;
}

.banner-image-second {
  padding-top: 19px;
  padding-right: 7px;
}

/* Product cards */
.popular {
  box-sizing: border-box;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  margin-top: 101px;
  margin-bottom: 16px;
  padding: 0;
  gap: 90px 30px;
}

.product-card {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: 270px;
  color: #565c66;
  background-color: white;
  border-radius: 8px;
}

.product-card img {
  margin-top: -50px;
  padding: 0 51px 10px 51px;
  border-radius: 50%;
}

.product-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 190px;
  padding: 0 40px 22px 40px;
  flex-grow: 1;
}

.product-card-title-link {
  text-decoration: none;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-card .subtitle {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;
}

.product-card p {
  margin: 0;
  padding-bottom: 16px;
}

.product-card-price {
  margin-left: 0;
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  padding-top: 4px;
}

/* Product card icons */
.product-card-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
}

.add-to-basket:hover .product-card-icon {
  fill: #2d3440;
}

.add-to-basket:focus .product-card-icon {
  fill: rgba(252, 252, 252, 1);
}

.add-to-basket:active .product-card-icon {
  fill: #2d3440;
}

.add-to-basket:active .product-card-icon {
  fill: #2d3440;
}

/* Gllacy CEO */
.ceo-background {
  display: flex;
  margin-top: 80px;
  margin-bottom: 78px;
  padding: 24px;
  background-image: url("../images/images-main/faq/wafer-backbround.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.ceo {
  background: #fcfcfc;
  border-radius: 16px;
}

.ceo-title {
  margin: 0;
  padding: 56px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.ceo-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.ceo-list p {
  margin: 0;
}

.ceo-item {
  position: relative;
  padding-bottom: 40px;
  padding-left: 104px;
  width: 442px;
}

.ceo-item:nth-child(2n) {
  padding-left: 95px;
}


.ceo-item::before {
  content: "";
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40px;
  border: 2px solid #2d3440;
  border-radius: 100px;
}

.ceo-item:nth-child(2n)::before {
  left: 30px;
}

.ceo-item:nth-child(1)::before {
  background-image: url("../images/icons/ice-cream.svg");
}

.ceo-item:nth-child(2)::before {
  background-image: url("../images/icons/cow.svg");
}

.ceo-item:nth-child(3)::before {
  background-image: url("../images/icons/leaf.svg");
}

.ceo-item:nth-child(4)::before {
  background-image: url("../images/icons/thermometer.svg");
}

/* News cards */
/* News first card*/
.news {
  display: flex;
  margin-bottom: 75px;
  justify-content: space-between;
}

.news-card {
  box-sizing: border-box;
  width: 570px;
  border-radius: 16px;
}

.news-first-card {
  margin-right: 30px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 63px;
  background-image: url(../images/images-main/form/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.news-text-container {
  display: block;
  margin: 0;
}

.news-subtitle {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.news-title-link {
  margin: 0;
  padding-right: 235px;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}
/* News second card */
.news-second-card-background {
  padding: 6px;
  background-image: url("../images/images-main/form/email-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.news-second-card {
  box-sizing: border-box;
  background-color: #fcfcfc;
  color: #565c66;
  border-radius: 16px;
  min-height: 208px;
}

.news-second-card-description {
  margin: 0;
  padding: 26px 26px 42px 26px;
  max-width: 508px;
}

.news-form {
  padding: 0 20px 25px 25px;
  align-items: center;
}

.news-form .field {
  margin-right: 20px;
  padding: 15px 0 15px 16px;
  width: 314px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

/* Input placeholder */
::placeholder {
  color: #b9b9b9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Input field*/
.field {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin: 0;
  padding: 14px 0px 14px 16px;
}

/* Hover, Focus */
.field:hover {
  border: 1px solid #242424;
}

.field:focus {
  box-shadow: 0 0 0 2px #242424;
}

/* Disabled */
.field:disabled {
  color: #595959;
  background-color: #b9b9b9;
  border-color: #595959;
}

.field:disabled:hover {
  color: #242424;
  background-color: #b9b9b9;
  border-color: #595959;
}

/* Invalid */
.field:invalid {
  border-color: #ea5454;
}

.field:focus:invalid {
  box-shadow: 0 0 0 2px #ea5454;
}

/* Field group*/
.field-group {
  display: flex;
  flex-direction: column;
}

/* Delivery section */
.ice-delivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  background-image: url("../images/images-main/form/personal-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.ice-delivery-info {
  margin-left: 100px;
  max-width: 371px;
}

.ice-delivery-title {
  margin: 0;
  padding-top: 167px;
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.ice-delivery-info {
  margin-right: 135px;
}

.ice-delivery-info p {
  color: #565c66;
  margin: 0;
}

.ice-delivery-form-section {
  margin: 64px 64px 64px 0;
  padding: 40px 40px 42px 40px;
  width: 500px;
  background-color: #fcfcfc;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.ice-delivery-form {
  flex-wrap: wrap;
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.ice-delivery-form .input {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.ice-delivery-form p {
  color: #565c66;
}

/* Input label */
label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.ice-delivery-form .info {
  display: none;
}

.ice-delivery-form-subtitle {
  padding-bottom: 32px;
  width: 380px;
  color: #565c66;
  margin: 0;
}

.ice-form-first-block {
  display: flex;
  margin: 0;
}

.ice-delivery-form-date {
  margin: 0;
  margin-right: 16px;
  max-width: 117px;
}

.ice-delivery-form-phone {
  margin: 0;
  width: 100%;
}

.ice-delivery-form-address {
  margin-top: 23px;
}

.ice-delivery-form-address input {
  margin-bottom: 32px;
}

.ice-delivery-form-address label {
  margin-bottom: 10px;
}

/* Contact info - Feedback */
.feedback-background {
  padding: 64px 64px 64px;
  background-image: url("../images/images-main/form/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.feedback {
  box-sizing: border-box;
  width: 343px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 40px;
}

.feedback p {
  margin: 0;
  color: #565c66;
}

.feedback-subtitle {
  padding-top: 0px;
  padding-bottom: 12px;
}

.feedback-subtitle-second {
  padding-top: 24px;
  padding-bottom: 12px;
}

.feedback b,
.feedback-contact-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.feedback-times {
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

/* Page footer */
.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.faq {
  display: block;
  width: 356px;
  margin-left: 300px;
  margin-top: -3px;
  justify-content: flex-end;
}

.faq-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 356px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.faq-item:nth-child(2n + 1) {
  width: 150px;
  padding-bottom: 5px;
}

.faq-item a {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}
.deliveryman {
  font-weight: 700;
}

.copyright {
  width: 193px;
  margin: 0 14px 0 auto;
}

.copyright p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.copyright-link {
  color: #2d3440;
}

/* Footer icons*/
.deliveryman::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../images/icons/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Modal container - footer */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  margin-bottom: 485px;
  padding: 64px;
  background-color: #ffffff;
}

.modal-container-close {
  display: none;
}

.modal-auth {
  width: 570px;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.auth-form .field-group {
  margin-bottom: 0;
}

.auth-form-feedback-field {
  min-height: 149px;
  margin-bottom: 32px;
}

.auth-form-feedback-field::placeholder {
  position: absolute;
  top: 10px;
}

textarea {
  font-family: 'inter';
  font-size: inherit;
  line-height: inherit;
}


/*********************************************************************/
/* Second page */ /* Second page */ /* Second page */ /* Second page */
/*********************************************************************/

/*Catalog navigation*/
.catalog-navigation {
  margin-bottom: 41px;
}

/* Breadcrumbs*/
.breadcrumbs {
  display: flex;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
  display: block;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/chevrons-right.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  top: 5px;
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item {
  border-bottom: 1px solid #2d3440;
}

.active.breadcrumbs-item {
  border: none;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  font-size: 14px;
}

/* Catalog title */
.inner-header-title {
  margin-top: 16px;
  margin-bottom: 62px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* Header pagination*/
.pagination-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

/* Catalog filter section */
.catalog-products-filter {
  margin-right: 461px;
  width: 810px;
}

/* Filter group - fieldset */
.catalog-filter-group {
  position: relative;
  margin-left: 0;
  margin-right: 24px;
  margin-bottom: 40px;
  padding: 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
}

.catalog-filter-group:last-child {
  margin-right: 0;
}

/* Filter group - first row */
.filter-group-row-first {
  display: flex;
  margin-bottom: 3px;
}

/* Filter-group - second row */
.filter-group-row-second {
  display: flex;
  align-items: center;
}


/* Filter list */
.catalog-filter-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Filter title */
.catalog-filter-title {
  position: absolute;
  top: -25px;
  left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.catalog-filter-item {
  margin: 0;
}

.control-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

/* Filters */
/* Sorting filter select*/
.sorting-control {
  margin: 0;
}

.filter-sorting {
  max-width: 196px;
}

.filter-sorting:hover {
  background: rgba(252, 252, 252, 0.5);
}

.filter-sorting:focus {
  box-shadow: 0 0 0 1px #565c66;
  box-shadow: 0 0 0 1px #ffffff inset;
}

/* Select-control filter */
.select-control {
  position: relative;
  background: none;
  padding-right: 20px;
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: #2d3440;
  appearance: none;
}

.filter-sorting {
  position: relative;
}

.filter-sorting::after {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 16px;
  cursor: pointer;
}

/* Control */
.control {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 2px;
  padding-left: 39px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* Сontrol mark */
.control-mark {
  content: "";
  position: absolute;
  top: 1px;
  left: 10px;
  width: 13px;
  height: 13px;
  border: 1.5px solid #242424;
  cursor: pointer;
}

.filter-ice-fillers .control-mark {
  border: none;
}

/* Radio */

.control-fat {
padding-left: 40px
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  left: 14px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 6px;
  height: 6px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control:hover .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
  opacity: 0.4;
}

/* Checkbox */
.control-fruits {
  margin-left: 13px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-on.svg");
}

.control-input[type="checkbox"] + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-off.svg");
}

/* Checkbox :hov */
.control-input[type="checkbox"]:checked:hover + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-on-hover.svg");
}

.control-input[type="checkbox"]:hover + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-off-hover.svg");
}

/* Checkbox :disabled*/
.control-input[type="checkbox"]:checked:disabled + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-on-disabled.svg");
}

.control-input[type="checkbox"]:disabled:hover + .control-mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-off-disabled.svg");
}

/* Range filter - price*/
.price-filter {
  width: 205px;
  padding: 8px 0;
}

.range {
  margin: 10px 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #2d3440;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active {
  background-color: #2d3440;
}

.range-toggle:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.toggle-min::after {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 6px;
  left: 6px;
}

.toggle-max::after {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 6px;
  left: 6px;
}

.range-toggle:hover.toggle-min::after,
.range-toggle:hover.toggle-max::after {
  background: #2d3440;
}

.range-toggle:active.toggle-min::after,
.range-toggle:active.toggle-max::after {
  background: none;
}

.range-toggle:focus.toggle-min::after,
.range-toggle:focus.toggle-max::after {
  background: #2d3440;
}

.range-input {
  display: none;
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  display: none;
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  display: none;
}

/* Price filter*/
.filter-price {
  width: 196px;
}

/* Fat percentage filter*/
.filter-fat {
  margin-right: 0;
  width: 367px;
  padding-left: 4px;
}

/* Ice-fillers filter*/
.filter-ice-fillers {
  width: 596px;
  margin: 0;
  margin-right: 26px;
  padding-left: 4px;
}

/* Catalog pagination*/
.multi-pagination-section {
  margin-top: 16px;
  padding: 0;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  padding: 41px 0;
  padding-bottom: 72px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  list-style: none;
  width: 450px;
  margin-right: 40px;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 1px 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pagination-current {
  background-color: #fcfcfc;
}

.pagination-link:hover {
  background-color: rgba(231, 231, 231, 0.3);
  border-color: #fcfcfc;
}

.pagination-link:focus {
  background-color: rgba(231, 231, 231, 0.3);
  border-color: #2d3440;
}

.pagination-link:active {
  background-color: #ff2f64;
  border-color: #ff2f64;
}

.pagination-prev {
  position: relative;
}

.pagination-icon-prev {
  position: absolute;
  fill: rgba(45, 52, 64, 0.2);
  top: 4px;
  right: 16px;
}

.pagination-next {
  position: relative;
}

.pagination-icon-next {
  position: absolute;
  fill: rgba(45, 52, 64, 1);
  top: 4px;
  left: 24px;
}


/* Popover cart */
.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 48px;
  font-family: "inter", sans-serif;
  color: #242424;
  background-color: #fcfcfc;
  min-height: 96px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  display: none;
}

.popover-cart {
  width: 441px;
}

.popover-open {
  display: block;
}

/* Popover cart content*/
.popover-content {
  height: 100%;
}

/* Popover cart text content */
.popover-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #242424;
}

/* Popover cart delete button*/
.cart-item-button {
  background: none;
  border: none;
}

/* Cart items list */
.cart-items-list {
  margin: 0;
  padding: 0;
}

/* Cart item */
.cart-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

.cart-item:last-child {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

/* Cart-item ice image */
.cart-item-image {
  width: 46px;
  height: 46px;
  margin-right: 16px;
  border-radius: 50%;
}

/* Cart-item-title*/
.cart-item-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2d3440;
}

/* Cart-item description name+price */
.cart-item-description {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 0;
  width: 164px;
}

/* Popover item price*/
.cart-item-price {
  font-family: "inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #242424;
  align-content: center;
  margin: 0;
  padding: 0;
}

/* Cart-item delete button*/
.cart-item-button {
  margin-left: auto;
  padding: 0;
}

.cart-item-delete-icon {
  margin-top: 4px;
}

/* Cart-item footer*/
.cart-item-footer-price {
  margin: 0;
  margin-left: 28px;
}
/* Popover-cart END*/

/* Popover-cart-empty START */
.popover-cart-empty {
  width: 288px;
}

.popover-cart-empty .popover-title {
  text-align: center;
  margin: 0;
}
/* Popover-cart-empty END */

/* Popover-user form START*/
.popover-user {
  width: 420px;
}

.popover-user .field {
  box-sizing: border-box;
  width: 100%;
}

.user-email::placeholder,
.user-password::placeholder {
  color: #242424;
}

.user-password::placeholder {
  width: 44px;
}

.user-email {
  margin-bottom: 16px;
}

.user-password {
  margin-bottom: 32px;
}

/* User-form footer */
.user-form-footer {
  display: flex;
}

.popover-user-auth-links {
  list-style: none;
  padding-left: 23px;
}

.auth-user-link {
  color: #2d3440;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2d3440;
}
/* Popover-user form END*/

/* Popover-search START*/
.popover-search {
  width: 356px;
  padding: 24px 16px;
}

.field[type="search"]:hover,
.field[type="search"]:focus,
.field[type="search"]:active {
  box-shadow: none;
}

.user-search-field {
  width: 100%;
}

.field[type="search"]::-webkit-search-cancel-button {
  background: url("../images/icons/cross.svg") no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  appearance: none;
}
/* Popover-search END*/

/* Catalog-button Dropdown*/
/* The container dropdown  */

/* Dropdown Content - hidden */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 8px;
  padding: 12px 0;
  background-color: #f1f1f1;
  width: 138px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.dropdown-link a {
 text-decoration: none;
 color: #2d3440;
 font-size: 14px;
}

.dropdown-title-link {
  font-weight: 700;
  margin-bottom: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #b9b9b9;
}

/* Change color of dropdown links on hover */
.dropdown-link:hover {
  background-color: #ffcbd8;
}

.dropdown-link:focus {
  background-color: #ff7799;
}

.dropdown-link:active,
.dropdown-link a:active {
  background-color: #ff4a78;
  color: #fcfcfc;
}

/* Dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
